@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*#region GLOBALS */

.sunflower-light {
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sunflower-medium {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sunflower-bold {
    font-family: "Sunflower", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --pink-background: #fff6fe;
    --pink-light: #fff0fe;
    --pink-medium: #f9dde4;
    --pink-accent: #d7828e;
    --pink-dark: #ac6872;
    --pink-dark-bold: #b55e6a;
    --pink-text: #6e313a;
    --blue-background: #f0f3ff;
    --blue-light: #ceddf1;
    --blue-medium: #96aac4;
    --blue-accent: #89c4da;
    --blue-dark: #142e4b;
    --blue-text: #4279b8;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Sunflower", sans-serif;
    background-color: var(--blue-background);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*#endregion GLOBALS */

/*#region HEADER */

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-accent);
    padding-right: 20px;
    position: relative;
}

#header-logo {
    padding-left: 20px;
    height: 40%;
}

#header-menu-button {
    font-size: 60px;
    color: var(--pink-light);
    cursor: pointer;
}

#header-menu-button:hover {
    color: var(--blue-light);

}

#header-menu {
    max-height: 0;
    position: absolute;
    overflow: hidden;
    background-color: var(--blue-accent);
    width: 100%;
    top: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
    transition: max-height 0.4s ease;
}

.header-menu-option{
    justify-self: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    color: var(--blue-dark);
    cursor: pointer;
    text-decoration: none;
}

.header-menu-option:hover{
    color: var(--blue-text);
}

/*#endregion HEADER */

.hidden {
    display: none;
}

.spacer {
    height: 5px;
}
