@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/*#region GLOBALS */

.sunflower-light {
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sunflower-medium {
    font-family: "Sunflower", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sunflower-bold {
    font-family: "Sunflower", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --pink-background: #fff6fe;
    --pink-light: #fff0fe;
    --pink-medium: #f9dde4;
    --pink-accent: #d7828e;
    --pink-dark: #ac6872;
    --pink-dark-bold: #b55e6a;
    --pink-text: #6e313a;
    --blue-background: #f0f3ff;
    --blue-light: #ceddf1;
    --blue-medium: #96aac4;
    --blue-accent: #89c4da;
    --blue-dark: #142e4b;
    --blue-text: #4279b8;
    --header-height: 100px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Sunflower", sans-serif;
    background-color: var(--blue-background);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*#endregion GLOBALS */

.hidden {
    display: none !important;
}

.spacer {
    height: 5px;
}

/*source: https://css-loaders.com/bars/ */
.loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(var(--blue-accent) 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
  }
  @keyframes l1 {
    0%  {background-size: 20% 100%,20% 100%,20% 100%}
    33% {background-size: 20% 10% ,20% 100%,20% 100%}
    50% {background-size: 20% 100%,20% 10% ,20% 100%}
    66% {background-size: 20% 100%,20% 100%,20% 10% }
    100%{background-size: 20% 100%,20% 100%,20% 100%}
  }