body {
    display: flex;
    flex-direction: column;
}

#tab-nav {
    height: 30px;
    background-color: var(--blue-light);
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}

.tab {
    height: 50px;
    width: 60px;
    border-radius: 0 0 10px 10px;
    background-color: var(--blue-medium);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab.selected {
    height: 65px;
}

.tab span {
    font-size: 35px;
    font-weight: 300;
    color: var(--pink-light);
}

main {
    height: calc(100vh - 175px);
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "title"
        "contents"
        "buttons"
        "contact";
}

#title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue-dark);
}

#title>hr {
    width: 90%;
    border: 1px solid var(--pink-dark);
    margin: 0;
}

#title-name {
    font-size: 1.5em;
    color: var(--pink-accent);
}

#title-type {
    color: var(--pink-dark);
}

#contents {
    grid-area: contents;
    margin: 20px;
    overflow: auto;
}

#contents>table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1.1em;
    color: var(--blue-dark);
}

#contents>table th,
tr {
    text-align: left;
    height: 2em;
    border-bottom: 1px solid var(--blue-medium);
}

#buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

#buttons>button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--pink-accent);
    color: var(--pink-light);
    font-size: 1.2em;
    cursor: pointer;
}

#buttons>button:hover {
    background-color: var(--blue-medium);
}

#contact {
    grid-area: contact;
    width: 100%;
    margin: 5%;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

#main-contents {
    display: block;
}

#map-content {
    display: none;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#donationList {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    color: var(--blue-dark);
}

#donationList>th, tr {
    text-align: left;
    height: 2em;
    border-bottom: 1px solid var(--blue-medium);
}

#maxValue {
    margin-left: 0.3em;
}