.login-form {
    width: 90vw;
    max-width: 400px;
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.form-container {
    width: 100%;
    padding: 10px;
    background-color: var(--blue-light);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: var(--blue-dark);
}

.form-container h1 {
    font-size: 2em;
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
    outline: none;
}

.form-container input[type="button"] {
    background-color: var(--pink-accent);
    font-size: 1.1em;
    color: var(--pink-light);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    opacity: 0.8;
}
.form-container input[type="button"]:hover {
    background-color: var(--pink-dark);
}

.form-container #links {
    display: flex;
    justify-content: space-between;
    color: var(--blue-text);
}

.form-container #links a {
    color: var(--blue-text);
    font-size: 0.95em;
}

.hidden {
    display: none;
    color: var(--pink-dark);
}