main {
    overflow: scroll;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.review {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-light);
    color: var(--blue-dark);
    padding: 15px;
    border-radius: 10px;
    position: static;
}

.review-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-header-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.review-header-avatar {
    height: 70%;
    border-radius: 50%;
    margin: 5px;
}

.review-header-username {
    font-weight: bold;
    color: var(--pink-text);
}
.review-header-date {
    font-weight: light;
    color: var(--pink-dark);
}

.review-action {
    color: var(--pink-dark);
    font-style: italic;
}

.review-action:hover {
    color: var(--pink-accent);
    cursor: pointer;
}

.review-title {
    font-size: 1.4em;
    font-weight: bolder;
    color: var(--blue-dark);
}

.star {
    font-size: 1.3em;
    margin-right: -4px;
    color: var(--pink-accent);
}
.unfilled {
    color: var(--blue-medium);
}

.review-body {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 12em;
    line-height: 1.2em;
}

.review-body.expanded {
    overflow: visible;
    max-height: fit-content;
}

.review-image {
    height: 7em;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    transition: width 1s;
    object-fit: cover;
}

.review-image.expanded {
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.read-more {
    text-align: right;
    color: var(--blue-text);
    font-style: italic;
}

.read-more:hover {
    color: var(--blue-accent);
    cursor: pointer;
}
.reply {
    border-left: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
}

#reviews-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.reply-text {
    color: var(--blue-dark);
    font-style: italic;
    padding: 5px 10px;
}
