<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BeCool</title>
        <link rel="stylesheet" href="/css/app.css" />
        <% if (stylesheets) {
            for(let stylesheet of stylesheets) { %>
                <link rel="stylesheet" href="/css/<%-stylesheet%>" />
            <% }
        }
        if(scripts) {
            for(let script of scripts) { %>
                <script src="/js/<%-script%>" defer></script>
            <% }
        }%>
    </head>
    <body>
        <header>
            <img id="header-logo" src="/img/becoolgs.png" />
            <div id="header-menu" class="material-icons">menu</div>
        </header>