<div class="reply">
		<div class="review-header">
			<div class="review-header-left">
				<img class="review-header-avatar" src="/img/avatar.jpeg" alt="profile picture" />
				<div>
					<div class="review-header-username">Bob Coolguy</div>
					<div class="review-header-date">2025-04-29</div>
				</div>
			</div>
			<div class="review-header-right">
				<span class="review-action">report</span>
			</div>
		</div>
		<div class="review-body">
			<img src="/img/fridge1.png" alt="Review image" class="review-image" style="display: none" />
			<div class="review-text">
				Thank you so much for your kind words! We're thrilled to hear the fridge has been helpful
				and that the app is making your experience smoother. It&#x2019;s amazing community members
				like you who keep this project going strong
			</div>
		</div>
		<span class="read-more" style="display: none">...read more</span>
	</div>