<div class="storage-card">
    <%if(row.image) {%>
    <img src="/img/<%=row.image%>" class="card-background" />
    <% }%>
    <div class="card-background-gradient"></div>
    <div class="card-content">
        <div class="card-content-left">
            <div class="card-favourite active material-icons">favorite</div>
        </div>
        <div class="card-content-right">
            <div class="card-main">
                <div class="card-title"><%=row.title%></div>
                <div class="card-storage-type">community fridge</div>
                <span class="card-rating-container">
                    <span class="card-rating">4.5/5</span>
                    <span class="card-rating-icon material-icons">star</span>
                </span>
            </div>
            <span class="card-footer">
                <div class="card-footer-restocked"><span>RESTOCKED</span></div>
                <div class="card-distance">12 km</div>
            </span>
        </div>
    </div>
</div>