<%-include('partials/header')%>
<div class="main-header">
    <img src="/img/fridge1.jpg" alt="fridge" />
    <div class="headText">
        <h1>What is BeCool?</h1>
        <p>
            BeCool is a community-driven sharing platform that fights food insecurity and food waste by
            promoting equal access to healthy food through public community fridges. Whether you're donating
            surplus produce, picking up essentials, or sparking conversations about food systems, BeCool
            empowers neighbors to GIVE, TAKE, and SHARE—building stronger, more connected communities through
            shared food, stories, and ideas.
        </p>
        <div class="button-header">
            <button class="button" onclick="location.href='/createAccount'"><span>Create an Account!</span></button>
            <button class="button" onclick="location.href='/about'"><span>Our Mission</span></button>
        </div>
    </div>
</div>
<%-include('partials/footer')%>