<%-include('partials/header')%>
<%- include('partials/contents-tab', {selected: 'map'}) %>
<div id="map-content">
    <iframe id="map" src=""></iframe>
    <button id="maps-btn" onclick="openMap()"> Get directions in Google Maps</button>
</div>
<%-include('partials/footer')%>