<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>BeCool</title>
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/contents.css" />
    <link rel="stylesheet" href="/css/reviews.css" />
    <link rel="stylesheet" href="/css/addreview.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Boostrap Library JS CDN  go here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="/js/reviews.js" defer></script>


</head>

<body>
    <header>
        <img id="header-logo" src="/img/becoolgs.png" />
        <div id="header-menu" class="material-icons">menu</div>
    </header>
    <div id="tab-nav">
        <div class="tab" id="tab-contents"><span class="material-icons">route</span></div>
        <div class="tab" id="tab-contents"><span class="material-icons">shelves</span></div>
        <div class="tab" id="tab-contents"><span class="material-icons">settings</span></div>
        <div class="tab selected" id="tab-contents"><span class="material-icons">reviews</span></div>
    </div>

    <main>

        <!-- add review modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
            onclick="openModal()">
            Add a review
        </button>

        <div id="reviewModal" class="modal">
            <div class="modal-content">
                <div id="reviewHeader">
                    <h3>Add Review</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="closeModal()"></button>
                </div>

                <div class="form-group">
                    <label for="reviewTitle">Review Title</label>
                    <input type="text" id="reviewTitle" placeholder="Enter a title" />
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="reviewRating">Rating</label>
                        <input id="reviewRating" type="number" name="rating" min="1" max="5"
                            placeholder="Rating (1–5)" />
                    </div>

                    <div class="form-group">
                        <label for="reviewImage">Upload Picture</label>
                        <input type="file" id="reviewImage" accept="image/*" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="reviewText">Your Review</label>
                    <textarea id="reviewText" rows="4" placeholder="Write your review..."></textarea>
                </div>

                <div class="modal-actions">
                    <button onclick="closeModal()">Cancel</button>
                    <button id="submit">Add</button>
                </div>
            </div>
        </div>

        <div id="reviews-container">
            
        </div>
        <div class="spacer"></div>
    </main>
</body>

</html>