<%- include('partials/header') %>
<%- include('partials/contents-tab', {selected: 'reviews'}) %>
<main>

    <!-- add review modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
        onclick="openModal()">
        Add a review
    </button>

    <div id="reviewModal" class="modal">
        <div class="modal-content">
            <div id="reviewHeader">
                <h3>Add Review</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="closeModal()"></button>
            </div>

            <div class="form-group">
                <label for="reviewTitle">Review Title</label>
                <input type="text" id="reviewTitle" placeholder="Enter a title" />
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="reviewRating">Rating</label>
                    <input id="reviewRating" type="number" name="rating" min="1" max="5"
                        placeholder="Rating (1–5)" />
                </div>

                <div class="form-group">
                    <label for="reviewImage">Upload Picture</label>
                    <input type="file" id="reviewImage" accept="image/*" />
                </div>
            </div>

            <div class="form-group">
                <label for="reviewText">Your Review</label>
                <textarea id="reviewText" rows="4" placeholder="Write your review..."></textarea>
            </div>

            <div class="modal-actions">
                <button onclick="closeModal()">Cancel</button>
                <button id="submit">Add</button>
            </div>
        </div>
    </div>

    <div id="reviews-container">
        
    </div>
    <div class="spacer"></div>
</main>
<%- include('partials/footer') %>